body {
	margin:0;
	font-family: 'Raleway', sans-serif;
	text-align:center;
}
h1 {
	margin:30px;
}
nav {
	height:50px;
	background-color:black;
}
#logo{
	color:white;
	margin:0 0 0 10px;
	padding:16px;
	font-weight:lighter;
	font-size:16px;
	letter-spacing: 1px;
}
.container {
	max-width:500px;
	margin:auto;
}
.make-into-button:hover {
	cursor: pointer;
}
.cross-out {
	text-decoration: line-through;
}
#hide-completed-label {
	margin:5px;
	font-weight:bolder;
}
